{% extends "template.html" %}

{% block titulo %}pokeTracer (Homepage){% endblock %}

{%block conteudoMenu %}
  <div class="container">
    <ul class="nav nav-tabs">
      <li><a href="/poketracer/home/">Dashboard</a></li>
      <li><a href="/poketracer/home/safari">My Safari</a></li>
      <li><a href="/poketracer/home/pokemon">My Friends</a></li>
      <li><a href="/poketracer/home/friendcode">Friend Code Search</a></li>
      <li><a href="/poketracer/home/pokemon">Pokémons</a></li>
    </ul>
  </div>
{%endblock %}


{%block conteudo %}
  <div class="container">
    <h2>Dashboard</h2>
  </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading"><b>FRIEND REPLIES</b></div>
              <ul class="list-group">
              <li class="list-group-item"><a href="#">Crasjusto (odioDRT)</a></li>
              <li class="list-group-item"><a href="#">Dapibus (ac facilisis in)</a></li>
              <li class="list-group-item"><a href="#">Morbi (leo risus)</a></li>
              <li class="list-group-item"><a href="#">Porta (consectetur)</a></li>
              <li class="list-group-item"><a href="#">Vestibulum (ateros)</a></li>
              <li class="list-group-item"><a href="#"><b>VIEW MORE &raquo;</b></a></li>
              </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading"><b>RECENTLY SAFARI REGISTERS</b></div>
              <ul class="list-group">
              <li class="list-group-item"><a href="#">Crasjusto (odioDRT)</a></li>
              <li class="list-group-item"><a href="#">Dapibus (ac facilisis in)</a></li>
              <li class="list-group-item"><a href="#">Morbi (leo risus)</a></li>
              <li class="list-group-item"><a href="#">Porta (consectetur)</a></li>
              <li class="list-group-item"><a href="#">Vestibulum (ateros)</a></li>
              <li class="list-group-item"><a href="#"><b>VIEW MORE &raquo;</b></a></li>
              </ul>
          </div>
       </div>
        <div class="col-lg-4">
          <h2>Where to Find Them?</h2>
          <p>The pokeTracer system offers a refined search for people and their Pokémons for the new generation of gaming consoles! In short time this will be the largest online database of Pokémon Friend Codes in the world! So enjoy! It's free!</p>
          <p><a class="btn btn-info" href="#">View details &raquo;</a></p>
        </div>
      </div>
    </div>
{%endblock %}