{% extends "template.html" %}

{% block titulo %}Safari - pokeTracer{% endblock %}

{%block conteudo %}
  <div class="container">
    <h2>My Safari</h2>
  </div>
<br />
    <div class="container">
        <div class="row">
		<div class="col-lg-6">
		<form action="/poketracer/home/safari/add/" method="POST">
		{% csrf_token %}
          <div class="panel panel-primary">
            <div class="panel-heading"><b>ADD OR UPDATE YOUR SAFARI INFORMATION HERE</b></div>
              <div class="panel-body">
                <p>Add the information you know about your Safari to make it easy other find you in Friend`s Search</p>
              </div>
              <ul class="list-group">
              <li class="list-group-item">
              	<select name="tipo" class="form-control">
			        	{% if meuSafari.codigo > 0 %}
						 	<option value="{{ meuSafari.safari.tipo }}" selected>Selected = {{ meuSafari.safari.tipo }}</option>
						{% else %}
							<option value="I DONT KNOW!" selected>Select Type</option>
						{% endif %}
							<option value="I DONT KNOW!" >I DON'T KNOW!</option>
							<option value="BUG">BUG</option>
							<option value="DARK">DARK</option>
							<option value="DRAGON">DRAGON</option>
							<option value="ELECTRIC">ELECTRIC</option>
							<option value="FAIRY">FAIRY</option>
							<option value="FIGHTING">FIGHTING</option>
							<option value="FLYING">FLYING</option>
							<option value="FIRE">FIRE</option>
							<option value="GRASS">GRASS</option>
							<option value="GHOTS">GHOTS</option>
							<option value="GROUND">GROUND</option>
							<option value="ICE">ICE</option>
						  	<option value="NORMAL">NORMAL</option>
							<option value="POISON">POISON</option>
							<option value="PSYCHIC">PSYCHIC</option>
							<option value="ROCK">ROCK</option>
							<option value="STEEL">STEEL</option>
							<option value="WATER">WATER</option>
							<option value="I DONT KNOW!">I DON'T KNOW!</option>
				</select></li>
              <li class="list-group-item">
              	<select name="pokemon1" class="form-control">
              			<option value="I DONT KNOW!" >I DON'T KNOW!</option>
			        	{% if meuSafari.codigo > 0 %}
						 	<option value="{{ meuSafari.safari.pokemon1.codigo }}" selected>Selected = {{ meuSafari.safari.pokemon1.numero }} &nbsp {{ meuSafari.safari.pokemon1.nome }}</option>
						{% else %}
							<option value="I DONT KNOW!" selected>Select Pokemon 1</option>
						{% endif %}
						  
						{% for pokemon in pokemons %}
							<option value="{{ pokemon.codigo }}">{{ pokemon.numero }} &nbsp {{ pokemon.nome|upper }}</option>
						{% endfor %}
						<option value="I DONT KNOW!" >I DON'T KNOW!</option>
				</select></li>
              <li class="list-group-item">
              	<select name="pokemon2" class="form-control">
              			<option value="I DONT KNOW!" >I DON'T KNOW!</option>
			        	{% if meuSafari.codigo > 0 %}
						 	<option value="{{ meuSafari.safari.pokemon2.codigo }}" selected>Selected = {{ meuSafari.safari.pokemon2.numero }} &nbsp {{ meuSafari.safari.pokemon2.nome }}</option>
						{% else %}
							<option value="I DONT KNOW!" selected>Select Pokemon 2</option>
						{% endif %}
						{% for pokemon in pokemons %}
							<option value="{{ pokemon.codigo }}" align="center" > {{ pokemon.numero }} &nbsp {{ pokemon.nome|upper }}</option>
						{% endfor %}
						<option value="I DONT KNOW!" >I DON'T KNOW!</option>
				</select>
              </li>
              <li class="list-group-item">
              	<select name="pokemon3" class="form-control">
              			<option value="I DONT KNOW!" >I DON'T KNOW!</option>
			        	{% if meuSafari.codigo > 0 %}
						 	<option value="{{ meuSafari.safari.pokemon3.codigo }}" selected>Selected = {{ meuSafari.safari.pokemon3.numero }} &nbsp {{ meuSafari.safari.pokemon3.nome }}</option>
						{% else %}
							<option value="I DONT KNOW!" selected>Select Pokemon 3</option>
						{% endif %}
						{% for pokemon in pokemons %}
							<option value="{{ pokemon.codigo }}">{{ pokemon.numero }}  &nbsp {{ pokemon.nome|upper }}</option>
						{% endfor %}
						<option value="I DONT KNOW!" >I DON'T KNOW!</option>
				</select>
              </li>
              <li class="list-group-item"><div align="center">
                    {% if meuSafari.codigo > 0 %}
						<input type="hidden" name="acao" value="alterar">
		        		<button type="submit" class="btn btn-primary">UPDATE your Safari!</button>
		        	{% else %}
		        		<input type="hidden" name="acao" value="inserir">
		        		<button type="submit" class="btn btn-primary">SAVE your Safari!</button>
		        	{% endif %}
		        	</div>
              </li>
              </ul>
          </div>        
		</form>
       </div>
        
		<div class="col-lg-6">
          <div class="panel panel-info">
            <div class="panel-heading"><b>HINTS FROM OTHER PEOPLE</b></div>
              <div class="panel-body">
                <p>If someone has already suggested your Safari data, then Poketracer will provide the information below so you can complete your registration and be available to other on the Friend Search</p>
              </div>
              <ul class="list-group">
              {% if indicacoesSafari.codigo > 0 %}
              {% for indicacao in indicacoesSafari %}
              <li class="list-group-item">{{ indicacao.safari.tipo }} ({{ indicacao.safari.pokemon1.nome }}, {{ indicacao.safari.pokemon2.nome }}, {{ indicacao.safari.pokemon3.nome }}) from <a href="#">{{ indicacao.pessoa_cadastro.nickname }}</a></li>
              {% endfor %}
              {% endif %}
              </ul>
          </div>
       </div>

        </div>
    </div>
{%endblock %}
