{% extends "template.html" %}

{% block titulo %}Pokemons - pokeTracer{% endblock %}

{%block conteudo %}
  <div class="container">
    <h2>Pokémons</h2>
  </div>

    <div class="container">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Photo</th>
              <th>Name</th>
              <th>Type</th>
              <th>Ho Have?</th>
            </tr>
          </thead>
          <tbody>
          {% for pokemon in pokemons %}
            <tr>
              <td>{{ pokemon.numero }}</td>
              <td><a href="{{ pokemon.pokedex_link }}" target="_blank"><img src="{{ pokemon.foto }}" title="{{ pokemon.tags|upper }}" width="50" height="50" class="img-circle" /></a></td>
              <td><a href="{{ pokemon.pokedex_link }}" target="_blank">{{ pokemon.nome }}</a></td>
              <td>{{ pokemon.tags }}</td>
              <td></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div><!-- tabela -->

    </div> <!-- CONTEINER -->
{%endblock %}
